includes:
    - phpstan-baseline.neon

parameters:
    level: 10
    paths:
        - src/
    excludePaths:
        - src/Kernel.php
    strictRules:
        disallowedShortTernary: false
        booleansInConditions: false
    doctrine:
        objectManagerLoader: phpstan-bootstrap.php
    ignoreErrors:
        - '#^Cannot access offset ''[a-zA-Z0-9_]+'' on mixed\.$#'
        - '#^Possibly invalid array key type mixed\.$#'
