parameters:
    level: 10
    paths:
        - src/
    excludePaths:
        - src/Kernel.php
    strictRules:
        disallowedShortTernary: false
        booleansInConditions: false
    doctrine:
        objectManagerLoader: phpstan-bootstrap.php
